
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@{
    string actionName = ViewBag.actionname;
}
<body class="login-bg">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Logo -->
                    <div class="logo">
                        <h1><a href="index.html">Email Exists</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="text-center">
            <p> <h2>The Email Id You Entered Already exists In Our System.</h2></p>
            <p><h3>Please Register with Another Employee ID</h3></p>
            @if (string.Equals(actionName,"EmployeeNewSubmit"))
            {
                <h4> <a href="/Partner/EmployeeNew">Click Here</a> To Go To Employee registration page.....Thank You</h4>
            }
            else if (string.Equals(actionName, "CustomerNewSubmit"))
            {
                <h4> <a href="/Partner/CustomerNew">Click Here</a> To Go To Customer registration page.....Thank You</h4>
            }

        </div>
    </div>

</body>