<div class="col-md-10">

    <div class="row">
        <div class="col-md-10">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">EmployeeNew</div>
                </div>
                <div class="panel-body">
					<form class="form-horizontal" role="form" method="post" action="EmployeeNewSubmit" enctype="multipart/form-data">
						<div class="form-group">
							<label for="Name" class="col-sm-2 control-label">Name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="Name" placeholder="Name" name="Name" required>
							</div>
						</div>
						<div class="form-group">
							<label for="Email" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="Email" placeholder="Email" name="Email" required>
							</div>
						</div>
						<div class="form-group">
							<label for="Mobile" class="col-sm-2 control-label">Mobile</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" id="Mobile" placeholder="Mobile" name="Mobile" required>
							</div>
						</div>
						<div class="form-group">
							<label for="Address" class="col-sm-2 control-label">Address</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="Address" placeholder="Address" name="Address">
							</div>
						</div>
						<div class="form-group">
							<label for="Username" class="col-sm-2 control-label">Username</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="Username" placeholder="Username" name="Username" required>
							</div>
						</div>
						<div class="form-group">
							<label for="Password" class="col-sm-2 control-label">Password</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="Password" placeholder="Password" name="Password" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">IsActive</label>
							<div class="col-md-10">
								<label class="checkbox-inline">
									<input type="checkbox" name="IsActive" value="1">
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2">EmployeeRole</label>
							<div class="col-md-10">
								<select class="form-control input-sm" name="EmployeeRole">
									
									<option value="Partner">Partner</option>
									<option value="Manager">Manager</option>
									<option value="Staff">Staff</option>
									
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="Photo" class="col-md-2 control-label">ProfilePicture</label>
							<div class="col-md-10">
								<input type="file" class="btn btn-default" id="Photo" name="Photo">
							</div>
						</div>

						@*<div class="form-group">
							<label for="Photo" class="col-sm-2 control-label">Username</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="Photo" placeholder="Photo" name="Photo" >
							</div>
						</div>*@

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
					</form>
                </div>
            </div>
         </div>
        </div>
    </div>